In [2]:
import pandas as pd
import numpy as np

In [32]:
swdf=pd.read_csv("D:\Ml projects\Basic ML projects\Datasets\Summary of Weather.csv",delimiter=',')
print(swdf.head())

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\sriram\AppData\Local\Temp\ipykernel_1292\1431776903.py:1: SyntaxWarning: invalid escape sequence '\M'
  swdf=pd.read_csv("D:\Ml projects\Basic ML projects\Datasets\Summary of Weather.csv",delimiter=',')

     STA      Date Precip  WindGustSpd    MaxTemp    MinTemp   MeanTemp  \
0  10001  1942-7-1  1.016          NaN  25.555556  22.222222  23.888889
1  10001  1942-7-2      0          NaN  28.888889  21.666667  25.555556
2  10001  1942-7-3   2.54          NaN  26.111111  22.222222  24.444444
3  10001  1942-7-4   2.54          NaN  26.666667  22.222222  24.444444
4  10001  1942-7-5      0          NaN  26.666667  21.666667  24.444444

  Snowfall PoorWeather  YR  ...  FB  FTI ITH  PGT  TSHDSBRSGF  SD3  RHX  RHN  \
0      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
1      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
2      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
3      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN
4      0.0         NaN  42  ... NaN  NaN NaN  NaN         NaN  NaN  NaN  NaN

  RVG  WTE
0 NaN  NaN
1 NaN  NaN
2 NaN  NaN
3 NaN  NaN
4 NaN  NaN

[5 rows x 31 columns]

C:\Users\sriram\AppData\Local\Temp\ipykernel_1292\1431776903.py:1: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  swdf=pd.read_csv("D:\Ml projects\Basic ML projects\Datasets\Summary of Weather.csv",delimiter=',')

In [33]:
swdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STA          119040 non-null  int64
 1   Date         119040 non-null  object
 2   Precip       119040 non-null  object
 3   WindGustSpd  532 non-null     float64
 4   MaxTemp      119040 non-null  float64
 5   MinTemp      119040 non-null  float64
 6   MeanTemp     119040 non-null  float64
 7   Snowfall     117877 non-null  object
 8   PoorWeather  34237 non-null   object
 9   YR           119040 non-null  int64
 10  MO           119040 non-null  int64
 11  DA           119040 non-null  int64
 12  PRCP         117108 non-null  object
 13  DR           533 non-null     float64
 14  SPD          532 non-null     float64
 15  MAX          118566 non-null  float64
 16  MIN          118572 non-null  float64
 17  MEA          118542 non-null  float64
 18  SNF          117877 non-null  object
 19  SND          5563 non-null    float64
 20  FT           0 non-null       float64
 21  FB           0 non-null       float64
 22  FTI          0 non-null       float64
 23  ITH          0 non-null       float64
 24  PGT          525 non-null     float64
 25  TSHDSBRSGF   34237 non-null   object
 26  SD3          0 non-null       float64
 27  RHX          0 non-null       float64
 28  RHN          0 non-null       float64
 29  RVG          0 non-null       float64
 30  WTE          0 non-null       float64
dtypes: float64(20), int64(4), object(7)
memory usage: 28.2+ MB

Removing Columns with only Null values

In [34]:
swdf.drop(columns=['FT','FB','FTI','ITH','SD3','RHX','RHN','RVG','WTE'],inplace=True)
swdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STA          119040 non-null  int64
 1   Date         119040 non-null  object
 2   Precip       119040 non-null  object
 3   WindGustSpd  532 non-null     float64
 4   MaxTemp      119040 non-null  float64
 5   MinTemp      119040 non-null  float64
 6   MeanTemp     119040 non-null  float64
 7   Snowfall     117877 non-null  object
 8   PoorWeather  34237 non-null   object
 9   YR           119040 non-null  int64
 10  MO           119040 non-null  int64
 11  DA           119040 non-null  int64
 12  PRCP         117108 non-null  object
 13  DR           533 non-null     float64
 14  SPD          532 non-null     float64
 15  MAX          118566 non-null  float64
 16  MIN          118572 non-null  float64
 17  MEA          118542 non-null  float64
 18  SNF          117877 non-null  object
 19  SND          5563 non-null    float64
 20  PGT          525 non-null     float64
 21  TSHDSBRSGF   34237 non-null   object
dtypes: float64(11), int64(4), object(7)
memory usage: 20.0+ MB

Removing Non Informatic columns

In [49]:
swdf.drop(columns=['TSHDSBRSGF','SND'],inplace=True)

In [50]:
swdf['PGT'].unique()

array([ nan, 10.2,  1.1, 10.4, 11.6,  9.6, 22. , 18.1,  2.4,  2.8, 14.5,
       20.5, 22.7, 15.4,  9.9,  1.8, 13.4,  9.3, 23.5,  1.2,  5.6, 10.3,
        4.2, 14.7, 23.2, 22.5, 21.4, 12.7,  5.7,  5.9, 18.8, 14.8, 11.9,
        3.8, 17.3, 21.5,  7.7, 21.1,  0.2, 14.1, 17.7, 12.5, 22.8,  6.6,
       17.9, 10.1,  7.9, 23.1, 21.9,  1.3, 11.3, 16.1,  0.9,  0.1, 17. ,
       19.7, 15.2, 13.1,  1.7, 20. ,  9. , 23.9, 11.2, 10.6, 13. , 10.7,
       11.4,  7.4,  3. , 18.4, 16.4,  7.6, 14.6, 10. ,  3.1, 10.5, 16. ,
        4.5,  6.5, 12.3, 23.7, 16.3,  9.7, 20.7, 12.8,  3.5, 18. ,  8.7,
        9.4, 21.3, 19.9, 22.4, 18.2, 22.1, 14.3,  4.7,  0.6, 21.8,  2.1,
        6. , 17.8, 13.6,  8.9, 23.4, 13.5,  3.6, 17.5,  8.4, 11.8, 16.5,
        5.2,  7.2,  3.9, 17.4, 17.2,  4.8, 20.9, 23.6,  9.1, 16.7, 23.3,
        8. ,  2.5,  8.3, 20.6, 23.8,  5.4,  8.6, 14.2,  3.4,  4.4,  0. ,
        8.2, 19.6, 21.6,  7.5, 15. , 14.9,  3.2,  8.8, 12.2, 12.6,  3.7,
       19.2,  8.1, 14.4, 20.8, 22.6, 22.3, 11.5, 15.6,  2.7, 12. , 19.5,
       15.3,  6.4, 21.7, 16.9,  7.3,  1.9, 12.4, 10.8,  9.5, 22.2,  0.3,
       19. , 19.4, 22.9,  7. , 16.2,  4.6, 23. , 14. , 15.5,  8.5, 11. ,
       21. ,  4.3,  5. ,  5.5])